.loading {
    display: inline-block;
    position: relative;
}
.loading>span {
    display: inline-block;
    position: relative;
    top: 0px;
    margin-left: 3px;
    animation-name: loading_a;
    animation-timing-function: ease;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}
.loading>span:nth-of-type(1) {
    animation-delay: 0ms;
}
.loading>span:nth-of-type(2) {
    animation-delay: 250ms;
}
.loading>span:nth-of-type(3) {
    animation-delay: 500ms;
}
.loading>span:nth-of-type(4) {
    animation-delay: 750ms;
}
@keyframes loading_a {
    25% {
        top: -6px;
    }
    75% {
        top: 0px;
    }
}