@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

:root {
    --hair: #00e0ff;
    --eye1: #84e0a7;
    --line: #10354f;
    --wear1: #e5f2fc;
    --pin: #ff95c9;
    --height: 100vh;
}

body {
    padding: 0;
    font-size: 16.5px;
    width: 100vw;
    max-width: 1440px;
    position: relative;
    display: block;
    margin: 0 auto;
    font-family: 'Kiwi Maru', serif;
    color: var(--line);
}

a {
    color: var(--pin);
}

div#loading {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

header {
    position: fixed;
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: var(--hair);
    left: calc(100vw - 200px);
    top: calc(var(--height) - 200px);
    text-align: right;
    color: white;
    text-shadow: 2px 2px 2px #0003;
    padding: 10px 200px 200px 10px;
    box-sizing: border-box;
    transition: all 200ms ease;
    box-shadow: -5px -5px 10px -5px #0003;
    z-index: 999;
}

@media screen and (max-width: 500px) {
    header:focus {
        box-shadow: -5px -5px 10px -5px #00437077;
    }
}

header:hover {
    box-shadow: -5px -5px 10px -5px #00437077;
}

header>img {
    display: inline-block;
    margin-top: 25px;
    border-radius: 38px;
    box-shadow: 2px 2px 2px #0004;
}

#menu_str {
    display: block;
    position: absolute;
    left: 0;
    top: 125px;
    font-size: 50px;
    width: 50%;
}

header+div {
    position: fixed;
    display: block;
    left: calc(100vw - 275px);
    top: calc(var(--height) - 275px);
    width: 550px;
    height: 275px;
    z-index: 990;
    border-radius: 300px 0 0 0;
    transform: rotate(90deg);
    transform-origin: 275px 275px;
    transition: all 250ms ease;
}

@media screen and (max-width: 500px) {
    header:focus+div {
        transform: rotate(0deg);
    }

    header+div:focus {
        transform: rotate(0deg);
    }
}
header:hover+div {
    transform: rotate(0deg);
}

@media screen and (min-width: 500px) {
    header+div:hover {
        transform: rotate(0deg);
    }
}

.menu-icon-arm {
    display: block;
    position: absolute;
    transition: all 250ms ease;
    text-align: left;
    width: 550px;
    top: 275px;
    left: 0;
}

.menu-icon-arm:nth-of-type(5) {
    display: none;
}

.menu-icon {
    display: inline-block;
    position: relative;
    transition: all 250ms ease;
    width: 55px;
    height: 55px;
    line-height: 55px;
    transform-origin: 0%;
}

.menu-icon:after {
    content: '';
    display: block;
    position: absolute;
    width: 141%;
    height: 141%;
    left: -20.5%;
    top: -20.5%;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 0 5px -2px;
}

.menu-icon>img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.menu-icon-arm:nth-of-type(1) {
    transform: rotate(72deg);
}

.menu-icon-arm:nth-of-type(2) {
    transform: rotate(54deg);
}

.menu-icon-arm:nth-of-type(3) {
    transform: rotate(36deg);
}

.menu-icon-arm:nth-of-type(4) {
    transform: rotate(18deg);
}

.menu-icon-arm:nth-of-type(1)>div {
    transform: rotate(-162deg);
}

.menu-icon-arm:nth-of-type(2)>div {
    transform: rotate(-144deg);
}

.menu-icon-arm:nth-of-type(3)>div {
    transform: rotate(-126deg);
}

.menu-icon-arm:nth-of-type(4)>div {
    transform: rotate(-108deg);
}

@media screen and (max-width: 500px) {
    header:focus+div .menu-icon-arm:nth-of-type(1)>div {
        transform: rotate(-72deg);
    }
    
    header:focus+div .menu-icon-arm:nth-of-type(2)>div {
        transform: rotate(-54deg);
    }
    
    header:focus+div .menu-icon-arm:nth-of-type(3)>div {
        transform: rotate(-36deg);
    }
    
    header:focus+div .menu-icon-arm:nth-of-type(4)>div {
        transform: rotate(-18deg);
    }
}

header:hover+div .menu-icon-arm:nth-of-type(1)>div {
    transform: rotate(-72deg);
}

header+div:hover .menu-icon-arm:nth-of-type(1)>div {
    transform: rotate(-72deg);
}

header:hover+div .menu-icon-arm:nth-of-type(2)>div {
    transform: rotate(-54deg);
}

header+div:hover .menu-icon-arm:nth-of-type(2)>div {
    transform: rotate(-54deg);
}

header:hover+div .menu-icon-arm:nth-of-type(3)>div {
    transform: rotate(-36deg);
}

header+div:hover .menu-icon-arm:nth-of-type(3)>div {
    transform: rotate(-36deg);
}

header:hover+div .menu-icon-arm:nth-of-type(4)>div {
    transform: rotate(-18deg);
}

header+div:hover .menu-icon-arm:nth-of-type(4)>div {
    transform: rotate(-18deg);
}

main {
    display: block;
    position: relative;
    width: 820px;
    max-width: 100%;
    margin: 0 auto;
}

main#top {
    display: block;
    position: relative;
    width: 100%;
    height: calc(var(--height) / 2);
    max-height: 500px;
    background-image: url('/st/materials/top_image.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main:not(#top) {
    max-width: 98%;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 7vw;
    }
}

h2 {
    position: relative;
    width: max-content;
    background-image: url('/st/materials/h2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 38px;
}

h2:after {
    content: '';
    display: block;
    position: absolute;
    left: 30px;
    top: 80%;
    width: calc(100% - 20px);
    height: 20%;
    background-color: #7ec9ffd8;
    border-radius: 50px;
    z-index: -1;
}

h3 {
    position: relative;
    width: max-content;
    background-image: url('/st/materials/h3.png');
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 25px;
}

p.listing>label {
    display: inline-block;
    width: 140px;
    background-color: var(--wear1);
}

p.listing>span {
    display: inline-block;
    color: dimgray;
    margin-left: 5px;
}

.works {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: solid 3px var(--eye1);
    border-radius: 15px;
    overflow: hidden;
}

.works:before {
    content: 'WORKS';
    color: var(--eye1);
    display: block;
}

.works img {
    width: 380px;
    max-width: 100%;
}

.works video {
    max-width: 100%;
}

footer {
    display: block;
    width: 100%;
    height: 200px;
    background-color: var(--wear1);
    text-align: center;
}