@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

:root {
    --hair: #00E0FF;
    --eye1: #84E0A7;
    --line: #10354F;
    --wear1: #E5F2FC;
    --height: 100vh;
}

body {
    padding: 0;
    font-size: 16.5px;
    width: 100vw;
    max-width: 1440px;
    position: relative;
    display: block;
    margin: 0 auto;
    font-family: 'Kiwi Maru', serif;
    color: var(--line);
}

div#loading {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

header {
    position: fixed;
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: var(--hair);
    left: calc(100vw - 200px);
    top: calc(var(--height) - 200px);
    text-align: right;
    color: white;
    text-shadow: 2px 2px 2px #0003;
    padding: 10px 200px 200px 10px;
    box-sizing: border-box;
    transition: all 200ms ease;
    z-index: 999;
}

@media screen and (max-width: 500px) {
    header:focus {
        width: 420px;
        height: 420px;
        left: calc(100vw - 210px);
        top: calc(var(--height) - 210px);
        padding: 20px 210px 210px 10px;
    }
}

header:hover {
    width: 420px;
    height: 420px;
    left: calc(100vw - 210px);
    top: calc(var(--height) - 210px);
    padding: 20px 210px 210px 10px;
}

header>img {
    display: inline-block;
    margin-top: 25px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #0004;
}

#menu_str {
    display: block;
    position: absolute;
    left: 0;
    top: 125px;
    font-size: 50px;
    width: 50%;
}

header+div {
    position: fixed;
    display: block;
    left: calc(100vw - 270px);
    top: calc(var(--height) - 270px);
    width: 540px;
    height: 270px;
    z-index: 990;
    border-radius: 300px 0 0 0;
    transform: rotate(90deg);
    transform-origin: 270px 270px;
    transition: all 250ms ease;
}

@media screen and (max-width: 500px) {
    header:focus+div {
        transform: rotate(0deg);
    }

    header+div:focus {
        transform: rotate(0deg);
    }
}
header:hover+div {
    transform: rotate(0deg);
}

@media screen and (min-width: 500px) {
    header+div:hover {
        transform: rotate(0deg);
    }
}

.menu-icon-arm {
    display: block;
    position: absolute;
    transition: all 250ms ease;
    text-align: left;
    width: 540px;
    top: 270px;
    left: 0;
}

.menu-icon {
    display: inline-block;
    position: relative;
    transition: all 250ms ease;
    width: 50px;
    height: 50px;
    transform-origin: 0%;
}

.menu-icon-arm:nth-of-type(1)>div {
    transform: rotate(-165deg);
}

.menu-icon-arm:nth-of-type(2)>div {
    transform: rotate(-150deg);
}

.menu-icon-arm:nth-of-type(3)>div {
    transform: rotate(-135deg);
}

.menu-icon-arm:nth-of-type(4)>div {
    transform: rotate(-120deg);
}

.menu-icon-arm:nth-of-type(5)>div {
    transform: rotate(-105deg);
}

@media screen and (max-width: 500px) {
    header:focus+div .menu-icon-arm:nth-of-type(1)>div {
        transform: rotate(-75deg);
    }
    
    header:focus+div .menu-icon-arm:nth-of-type(2)>div {
        transform: rotate(-60deg);
    }
    
    header:focus+div .menu-icon-arm:nth-of-type(3)>div {
        transform: rotate(-45deg);
    }
    
    header:focus+div .menu-icon-arm:nth-of-type(4)>div {
        transform: rotate(-30deg);
    }
    
    header:focus+div .menu-icon-arm:nth-of-type(5)>div {
        transform: rotate(-15deg);
    }
}

header:hover+div .menu-icon-arm:nth-of-type(1)>div {
    transform: rotate(-75deg);
}

header+div:hover .menu-icon-arm:nth-of-type(1)>div {
    transform: rotate(-75deg);
}

header:hover+div .menu-icon-arm:nth-of-type(2)>div {
    transform: rotate(-60deg);
}

header+div:hover .menu-icon-arm:nth-of-type(2)>div {
    transform: rotate(-60deg);
}

header:hover+div .menu-icon-arm:nth-of-type(3)>div {
    transform: rotate(-45deg);
}

header+div:hover .menu-icon-arm:nth-of-type(3)>div {
    transform: rotate(-45deg);
}

header:hover+div .menu-icon-arm:nth-of-type(4)>div {
    transform: rotate(-30deg);
}

header+div:hover .menu-icon-arm:nth-of-type(4)>div {
    transform: rotate(-30deg);
}

header:hover+div .menu-icon-arm:nth-of-type(5)>div {
    transform: rotate(-15deg);
}

header+div:hover .menu-icon-arm:nth-of-type(5)>div {
    transform: rotate(-15deg);
}

main {
    display: block;
    position: relative;
    width: 820px;
    max-width: 100%;
    margin: 0 auto;
}

main#top {
    display: block;
    position: relative;
    width: 100%;
    height: calc(var(--height) / 2);
    max-height: 500px;
    background-image: url('https://pbs.twimg.com/profile_banners/1009077761997135873/1654184683/1500x500');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p.listing>label {
    display: inline-block;
    width: 120px;
}

p.listing>span {
    display: inline-block;
    color: dimgray;
}

.works {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: solid 3px var(--eye1);
    border-radius: 15px;
    overflow: hidden;
}

.works img {
    width: 400px;
    max-width: 100%;
}

.works video {
    max-width: 100%;
}

footer {
    display: block;
    width: 100%;
    height: 200px;
    background-color: var(--wear1);
    text-align: center;
}